
<div class="mt-10"></div>



<br>
<p class="text-3xl m-5 text-center">The Dothan Experience</p>

<p class="text-center text-xl ">Ministry Staff</p>
<p class="text-center"> 
    We will have pic and details for the 14 ministry staff. Think about a good way to structure this. </p>

</div>




///Learn


{% extends "base.html" %} {% block content %}
 <!--nav holder-->
<div class="bg-gray-400 bg-no-repeat h-full bg-cover bg-bottom md:bg-center h-screen">
{% include "nav.html" %}
<div class="mt-10"></div>
<p class="text-center text-4xl">Learn with us</p>
<p class="text-center">
    Dedicated to details about the bible college - We partner with Providence Baptist College - https://providencebaptistcollege.com/ Explain A brief explanation of why partner with them. What extent partnership we have for the bible college. 
College curriculum details possibly
Next entry dates
Option to contact us for more details. 

</p>
</div>
{% endblock content %}



//Connect 
{% extends "base.html" %} {% block content %}
 <!--nav holder-->
<div class="bg-gray-400 bg-no-repeat h-full bg-cover bg-bottom md:bg-center h-screen">
{% include "nav.html" %}
<div class="mt-10"></div>
<p class="text-center text-4xl">Connect with us</p>

<p class="text-center">
    Connect with Us
Google map location. Location of the school, phone number, address

</p>
</div>
{% endblock content %}



//Our resources
{% extends "base.html" %} {% block content %}
 <!--nav holder-->
<div class="bg-gray-400 bg-no-repeat h-full bg-cover bg-bottom md:bg-center h-screen">
{% include "nav.html" %}
<div class="mt-10"></div>
<p class="text-center text-4xl">Our resources</p>
<p class="text-center"> This will be the page that will have all the resources
    Bible Study Videos
    Bible Study Documents
    Blog
    Podcast
    Student Notes
    </p>
</div>
{% endblock content %}


//learn_with_us
{% extends "base.html" %} 
{% block content %}

 <!--nav holder-->
<div class="h-screen flex flex-col bg-gray-50">
    
    <div class=" h-2/5 bg-hero1">
        {% include "nav.html" %}
        <div class="flex items-center justify-center h-full">
            <div>
                <p class="text-3xl text-center text-white">Learn With Us</p>
            </div>
            
        </div>
    </div>
    <div class="flex justify-center">
        <div class="w-2/3 p-3">
            <a href="">Home </a>/
            <a href="">Learn With Us</a>
        </div>
    </div>
    <div class="flex justify-center w-full">
        
        <div class="w-3/5 bg-white p-10 text-xl tracking-wide">
            <p class="">
                We are believers who embrace the reality of the gift of Christ living within us.
                We believe in studying the word in depth and understanding it. 
                We seek to walk with those who seek to live life as God calls us to. Maybe the vision, mission values?
            </p>
            <br>
            <p class="">
            An explanation of the origin of Dothan experience and why we think beyond Dothan. Use place holder text. 
            Will need a picture of the logo and the explanation of the elements
            Tabernacle: place holder text
            Rainbow: Place holder text
            Sun: Place holder text
            Cross: Place holder text
            Kenya: Place holder text
            Blood Drops: Place holder text
            </p>
            <br>
            <p>
                We are a church located in the heart of Bay Ridge, Brooklyn.  My wife Teri and I have been rooted in this commu
                nity since our childhood and that spurred my passion to plant a church here. It is our prayer to see the residents of this neig
                hborhood worshipping Jesus Christ through the biblical, Christ-centered messages preached, the songs we sing that glorify Christ and
                 in our fellowship with others. Our mission is rooted in the Gospel power to transform lives by restoring the relationship of men and 
                 women with their Creator, and as a result of that, with one another. We are a simple church that neither adds to nor subtracts from th
                 e gospel, for it is the gospel itself which is the power of God for salvation to everyone who believes. Our prayer is to build a community 
                 of believers that serves Christ and others using the gifts and talents God has given us.   
            </p>
        </div>
    </div>
</div>
{% endblock content %}
