{% extends "base.html" %} 
{% block content %}

 <!--nav holder-->
<div class="h-screen flex flex-col bg-gray-50">
    
    <div class="h-2/3 md:h-3/4 bg-hero1">
       <div class="h-full w-full bg-gray-900 opacity-60">
        {% include "nav.html" %}
        <div class="flex items-center justify-center h-full">
            <div>
                <p class="text-3xl text-center text-white font-thin pb-24">Learn With Us</p>
            </div>
            
        </div>
       </div>
    </div>
    <div class="flex justify-center">
        <div class="w-2/3 p-3 tu-links z-50">
            <a href="{{ url_for('home')}}">Home </a>/
            <a href="">Learn With Us</a>
        </div>
    </div>
    <div class="flex justify-center w-full">
        
        <div class="p-4 md:w-3/5 bg-white md:p-10 text-xl tracking-wide font-sans">
            <p class="">
                We are believers who embrace the reality of the gift of Christ living within us.
                We believe in studying the word in depth and understanding it. 
                We seek to walk with those who seek to live life as God calls us to. Maybe the vision, mission values?
            </p>
            <br> 
            <p class="">
            An explanation of the origin of Dothan experience and why we think beyond Dothan. Use place holder text. 
            Will need a picture of the logo and the explanation of the elements
            Tabernacle: place holder text
            Rainbow: Place holder text
            Sun: Place holder text
            Cross: Place holder text
            Kenya: Place holder text
            Blood Drops: Place holder text
            </p>
            <br>
            <p>
                We are a church located in the heart of Bay Ridge, Brooklyn.  My wife Teri and I have been rooted in this commu
                nity since our childhood and that spurred my passion to plant a church here. It is our prayer to see the residents of this neig
                hborhood worshipping Jesus Christ through the biblical, Christ-centered messages preached, the songs we sing that glorify Christ and
                 in our fellowship with others. Our mission is rooted in the Gospel power to transform lives by restoring the relationship of men and 
                 women with their Creator, and as a result of that, with one another. We are a simple church that neither adds to nor subtracts from th
                 e gospel, for it is the gospel itself which is the power of God for salvation to everyone who believes. Our prayer is to build a community 
                 of believers that serves Christ and others using the gifts and talents God has given us.   
            </p>
        </div>
    </div>
</div>
{% endblock content %}
